* {
  margin: 0;
  padding: 0;
  
  
}


/*main*/

html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a{
  color: #333333;
  text-decoration: none;

}

h1,h2,h3{
  padding-bottom: 20px;
}

p{
  margin: 10px;
}

#navbar{
  
  color: #fff;
  overflow: auto;
  
}
#navbar a {
  color: #fff;
}

#navbar h1 {
  text-align: center;
  padding-top: 20px;
  font-size:  50px;
}



#navbar ul{
  list-style:none;
  text-align: center
}

#navbar ul li a {
  display: block;
  padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current
{
  background: #444;
  color: #00E5E5;
}

iframe{
  position: relative;
  text-align: center;
  margin-top: 20px;
  right: 650px ;

}
 div1{
  position: relative;
  float: right;
  margin-top: 20px;
  left: 500px;
  bottom: 650px;
  }


p{
 text-align: center;
  float: left;
  left: 50px;
  position: relative;
  top: 100px;
font-size: 15px;
color: #fff;}


p1{
  text-align: center;
  float: left;
  position: relative;
  top: 130px;
right: 120px;
color: #fff;}

p2{
  text-align: center;
  float: left;
  position: relative;
  top: 150px;
  right: 220px;
  color: #fff;}
p3{
  text-align: center;
  float: left;
  position: relative;
  top: 170px;
  right: 370px;
  color: #fff;}
p4{
  text-align: center;
  float: left;
  position: relative;
  top: 190px;
  right: 500px;
  color: #fff;}

p5{
  text-align: center;
  float: left;
  position: relative;
  top: 210px;
  right: 600px;
  color: #fff;}
p6{
  text-align: center;
  float: left;
  position: relative;
  top: 230px;
  right: 750px;
  color: #fff;}

p7{
  text-align: center;
  float: left;
  position: relative;
  top: 250px;
  right: 910px;
  color: #fff;}

p8{
text-align: center;
float: left;
position: relative;
top: 270px;
right: 1055px;

color: #fff;}
p9{
  text-align: center;
  float: left;
  position: relative;
  bottom: 460px;
  left: 140px;
  color: #fff;}

p10{
  text-align: center;
  float: left;
  position: relative;
  bottom: 445px;
  left: 30px;
  color: #fff;}

p11{
  text-align: center;
  float: left;
  position: relative;
  bottom: 427px;
  right: 70px;
  color: #fff;}
p12{
  text-align: center;
  float: left;
  position: relative;
  bottom: 412px;
  right: 160px;
  color: #fff;}

p13{
  text-align: center;
  float: left;
  position: relative;
  bottom: 397px;
  right: 260px;
  color: #fff;
}

h3{
  position: relative;
  text-align: center;
  right: 80px;
  color: #fff;
}




}

p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13{
  color: #fff;
}
body{
  background-color: #444;
  background-image:url(imajjpg.jpg)
}

div2{
  
}

h4{
  color: #fff;
  text-align: center;
  position: relative;
  left: 150px;
  top:500px;
}