* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #00E5E5
}

/*main*/

html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a{
  color: #333333;
  text-decoration: none;

}

h1,h2,h3{
  padding-bottom: 20px;
}

p{
  margin: 10px;
}

#navbar{
  background: #333;
  color: #fff;
  overflow: auto;
}
#navbar a {
  color: #fff;
}

#navbar h1 {
  text-align: center;
  padding-top: 20px;
  font-size:  50px;
}



#navbar ul{
  list-style:none;
  text-align: center
}

#navbar ul li a {
  display: block;
  padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current
{
  background: #444;
  color: #00E5E5;
}


h2,h3{
  text-align: center;
}
